set -eo pipefail


echo""
echo""
echo ";;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;"
echo "▶ Triggering ECS Deploy Script               "
echo ";;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;"
echo""
echo""


echo""
echo""
echo ";;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;"
echo "▶ Installing AWS CLI and Other Dependencies  "
echo ";;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;"
echo""
echo""



yum install -y unzip curl git > /dev/null

rm -rf aws awscliv2 awscliv2.zip /usr/local/aws-cli

curl -s "https://awscli.amazonaws.com/awscli-exe-linux-x86_64.zip" -o "awscliv2.zip"
unzip -qq awscliv2.zip
./aws/install --bin-dir /usr/bin --install-dir /usr/local/aws-cli --update

export PATH="/usr/local/aws-cli/v2/current/bin:$PATH"

aws --version || { echo "❌ AWS CLI not installed correctly"; exit 1; }

echo""
echo""
echo ";;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;"
echo "▶ Setting up Composer Auth                   "
echo ";;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;"
echo""
echo""



mkdir -p ~/.composer
cp -f miscellaneous/conf/composer/auth.json ~/.composer/auth.json


echo""
echo""
echo ";;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;"
echo "▶ Setting up SSH Config                      "
echo ";;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;"
echo""
echo""



mkdir -p ~/.ssh
cp -f miscellaneous/conf/ssh/config ~/.ssh/config
chmod 600 ~/.ssh/config

# ENVIRONMENT VARIABLES
AWS_REGION="${AWS_DEFAULT_REGION:-ap-south-1}"
ECS_CLUSTER="${ECS_CLUSTER:-siscol-cluster}"
ECS_SERVICE="${ECS_SERVICE:-siscol-task-service-gtliq1oh}"

: "${AWS_ACCOUNT_ID:?❌ AWS_ACCOUNT_ID not set}"
: "${ECR_REPOSITORY:?❌ ECR_REPOSITORY not set}"
: "${BITBUCKET_COMMIT:?❌ BITBUCKET_COMMIT not set}"

IMAGE_TAG="$BITBUCKET_BUILD_NUMBER"
IMAGE_URI="$AWS_ACCOUNT_ID.dkr.ecr.$AWS_REGION.amazonaws.com/$ECR_REPOSITORY:$IMAGE_TAG"


echo""
echo""
echo ";;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;"
echo "▶ Checking ECS Service Status                "
echo ";;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;"
echo""
echo""



SERVICE_STATUS=$(aws ecs describe-services \
  --cluster "$ECS_CLUSTER" \
  --services "$ECS_SERVICE" \
  --region "$AWS_REGION" \
  --query 'services[0].status' \
  --output text)

if [[ "$SERVICE_STATUS" != "ACTIVE" ]]; then
  echo "❌ ECS service '$ECS_SERVICE' is not ACTIVE (current status: $SERVICE_STATUS). Aborting deployment."
  exit 1
fi

echo""
echo""
echo ";;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;"
echo "▶ Updating ECS Service with New Image        "
echo ";;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;"
echo""
echo""


echo "🚀 New Image: $IMAGE_URI"
 
aws ecs update-service \
  --cluster "$ECS_CLUSTER" \
  --service "$ECS_SERVICE" \
  --force-new-deployment \
  --region "$AWS_REGION"


echo""
echo""
echo ";;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;"
echo "✅ ECS Deployment Triggered Successfully     "
echo ";;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;"
echo""
echo""



